*{
    margin: 0;
    padding: 0;

}

/* Header */
header {
    text-align: right;
    background-color: rgb(48, 87, 196);
    padding: 25px;
}
#direita{
    background-color: rgb(48, 87, 196);
    color: black;
}
#prim, #seg{
    display: inline-block;
    margin: 10px;
}
/* Header */

/* Main */

main{
    background-color: aliceblue;
    width: 100%;
}

    /* titulo */
#port{
    margin: 40px;
    color: rgb(48, 87, 196);
}
h1{
    font-size: 40px;
}
#sub0{
    margin: 30px;
    color: rgb(48, 87, 196);
    font-size: 15px;
}
    /* Titulo */

    /* Article */
article{
    display: flex;
    flex-direction: row; justify-content: space-evenly;
}
#divU, #divD, #divT{
    display: flex;
    flex-direction: row; justify-content: space-evenly;
    margin: 30px;
    padding: 15px;
}
#txt{
    margin: 20px;
    padding: 20px;
}
#item1, #item2{
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-size: 20px;
} 
#sub1, #sub2{
    font-size: 30px;
}
    /* Article */

    /* decooração */
#aleatorio, #aleatorio1, #aleatorio2{
    background-color: rgb(48, 87, 196);
    height: 45px;
    width: 100%;

}
#aleatorio4{
    background-color: rgb(48, 87, 196);
    width: 100%;
    min-height: 30px;
}
div{
    line-height: 27px;
}

/* Main */
/* footer */
#footer{
    background-color: rgb(43, 39, 39);
    color: aliceblue;
    height: 250px;
    border-radius: 15px;
}
#mendDeSeg{
    margin: 10px;
    padding: 15px;
}
#tamMendDeSeg{
    font-size: 20px;
}
#article2{
    display: flex;
    flex-direction: column; justify-content: space-evenly;
}
#icon1, #icon2, #icon3{
    display: inline-block;
    margin: 20px;
    padding: 10px;
}
/* footer */
#js1, #js2{
    margin: 20px;
    padding: 20px;
}
#pLink1, #pLink2{
    text-align: center;
    color: rgb(48, 87, 196);
    padding: 20px;
}
#loja1, #loja2, #loja3{
    padding: 20px;
    margin: 20px;
}
